.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
body{

  background: url(bg3.avif) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  
}
#openbtn{
  position: absolute;
  top: 70%;
  left: 10%;
  width: 350px;
  height: 80px;
  font-size: 2rem;
  background: transparent;
  color: white;
  border: solid 2px white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 10px black;
  transition: .5s;
}
 #openbtn:hover{
  background-color: white;
  color: black;
 }

 #modal{
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%); 
  width: 250px;
  height: 100px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: animateModal;
  animation-duration: .4s;
 }

 #closebtn{
  font-size: 3rem;
 }

 #closebtn:hover{
  cursor: pointer;
  font-size: 3rem;
  color: red;
   
 }

 #modal-container{
   display:none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0 );
 }

 /* Modal Animation */

 @keyframes animateModal{
  from{
    top: -300px;
    opacity: 0;
    
  }
  to{
    top: 50%;
    opacity: 1;
  }
 }